* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #10e6ad, #d0abc6);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form {
  width: 400px;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 15px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

}

input,
button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  background-color: transparent;
  border: 1px solid #d0abc6;
  margin-left: 15px;
  cursor: pointer;

}

button:hover {
  background-color: #10e6ad;
  color: #fff;
}

input:focus {
  outline: none;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-items {
  font-size: 1.2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
}